In [10]:
import pandas as pd
import psycopg2

In [11]:
request_id = 2912600
query = f'select res.geoapi_id, res.request_id, res.latitude, res.longitude, res.accuracy, req.full_address from "Response" as res join "Request" as req on res.request_id = req.request_id  where res.request_id >= {request_id}'

In [12]:

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

In [13]:
cur.execute(query)
recset = cur.fetchall()
len(recset)

100399

In [14]:
geo = pd.DataFrame(recset, columns = ['geoapi_id', 'request_id', 'lat', 'long', 'accuracy', 'endereço'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

,geoapi_id,request_id,lat,long,accuracy,endereço
0,Google,2912600,-23.870860,-46.676627,NaN,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
1,OpenRouteService,2912600,-23.570533,-46.663713,0.600000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
2,MapBox,2912600,-23.870596,-46.676843,0.865661,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
3,Here,2912600,-23.871140,-46.676530,1.000000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
4,Google,2912601,-23.555771,-46.639557,NaN,"SAO PAULO, SP, DOS LIRIOS, 10"

In [15]:
goldSP = pd.read_csv('amostraSP.csv')
goldSP = goldSP[['number','street','city','latGold','lonGold']]

goldSP.head()

       number                 street       city    latGold    lonGold
0          45     JANE VANINE CAPOZI  SAO PAULO -23.868805 -46.678967
1          10             DOS LIRIOS  SAO PAULO -23.638449 -46.447187
2          81         ANTONIO XAVIER  SAO PAULO -23.475623 -46.427649
3         259  RUA RIBEIRO JUNQUEIRA  SAO PAULO -23.479475 -46.653269
4         738             PEROBEIRAS  SAO PAULO -23.693233 -46.795505

In [16]:
import pandas as pd

# Suponha que df seja o seu DataFrame com o campo request_id
# Suponha que gold seja o DataFrame 'gold'
# Suponha que geo seja o DataFrame 'geo'

# Criando uma lista para armazenar os grupos
lista = []

# Definindo o número total de grupos de 5 mil endereços
num_grupos = 5
tamanho_grupo = 5000

# Loop para separar o DataFrame em grupos, ajustar 'request_id' do DataFrame 'gold' e mesclar com 'gold'
for i in range(num_grupos):
    # Calculando o intervalo para cada grupo
    start_id = request_id + (i * tamanho_grupo)
    end_id = start_id + tamanho_grupo - 1
    
    # Filtrando o DataFrame para obter o grupo atual
    grupo = geo[(geo['request_id'] >= start_id) & (geo['request_id'] <= end_id)]
    
    # Ajustando o 'request_id' do DataFrame 'gold' para o grupo atual
    goldSP['id'] = range(start_id, end_id + 1)
    
    # Realizando a mesclagem (merge) entre o grupo atual e o DataFrame 'gold' usando o 'geo' filtrado
    result_df = goldSP.merge(geo, how='inner', left_on='id', right_on='request_id')
    
    # Salvando o DataFrame resultante em um arquivo CSV com nome correspondente ao grupo
    nome_arquivo = f'geoGoldSPexp{i+1}.csv'  # Incrementando i+1 para nomear os arquivos de 1 a num_grupos
    result_df.to_csv(nome_arquivo, index=False)
    
    # Adicionando o grupo à lista (opcional, se desejar manter a lista de grupos separados)
    #lista.append(grupo)

In [8]:
teste = geo[geo['request_id'] > 2907599]
teste

Empty DataFrame
Columns: [geoapi_id, request_id, lat, long, accuracy, endereço]
Index: []

In [ ]:
import pandas as pd
import psycopg2

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

query = 'select request_id from "Request"  where request_id >= 2852600'

cur.execute(query)
recset = cur.fetchall()
#len(recset)

geo = pd.DataFrame(recset, columns = ['request_id'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

In [ ]:
geo.to_csv('teste.csv')