In [3]:
import pandas as pd
import psycopg2

In [4]:
request_id = 2912600
query = f'select res.geoapi_id, res.request_id, res.latitude, res.longitude, res.accuracy, req.full_address from "Response" as res join "Request" as req on res.request_id = req.request_id  where res.request_id >= {request_id}'

In [5]:

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

In [6]:
cur.execute(query)
recset = cur.fetchall()
len(recset)

343310

In [7]:
geo = pd.DataFrame(recset, columns = ['geoapi_id', 'request_id', 'lat', 'long', 'accuracy', 'endereço'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

,geoapi_id,request_id,lat,long,accuracy,endereço
0,Here,2912600,-23.871140,-46.676530,1.000000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
1,Google,2912600,-23.870860,-46.676627,NaN,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
2,OpenRouteService,2912600,-23.570533,-46.663713,0.600000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
3,MapBox,2912600,-23.870596,-46.676843,0.865661,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
4,Google,2912601,-23.555771,-46.639557,NaN,"SAO PAULO, SP, DOS LIRIOS, 10"

In [8]:
goldSP = pd.read_csv('../csv/amostraSP.csv')
goldSP = goldSP[['number','street','city','latGold','lonGold']]

goldSP.head()

       number                 street       city    latGold    lonGold
0          45     JANE VANINE CAPOZI  SAO PAULO -23.868805 -46.678967
1          10             DOS LIRIOS  SAO PAULO -23.638449 -46.447187
2          81         ANTONIO XAVIER  SAO PAULO -23.475623 -46.427649
3         259  RUA RIBEIRO JUNQUEIRA  SAO PAULO -23.479475 -46.653269
4         738             PEROBEIRAS  SAO PAULO -23.693233 -46.795505

In [9]:
import pandas as pd

# Suponha que df seja o seu DataFrame com o campo request_id
# Suponha que gold seja o DataFrame 'gold'
# Suponha que geo seja o DataFrame 'geo'

# Criando uma lista para armazenar os grupos
lista = []

# Definindo o número total de grupos de 5 mil endereços
num_grupos = 5
tamanho_grupo = 5000

# Loop para separar o DataFrame em grupos, ajustar 'request_id' do DataFrame 'gold' e mesclar com 'gold'
for i in range(num_grupos):
    # Calculando o intervalo para cada grupo
    start_id = request_id + (i * tamanho_grupo)
    end_id = start_id + tamanho_grupo - 1
    
    # Filtrando o DataFrame para obter o grupo atual
    grupo = geo[(geo['request_id'] >= start_id) & (geo['request_id'] <= end_id)]
    
    # Ajustando o 'request_id' do DataFrame 'gold' para o grupo atual
    goldSP['id'] = range(start_id, end_id + 1)
    
    # Realizando a mesclagem (merge) entre o grupo atual e o DataFrame 'gold' usando o 'geo' filtrado
    result_df = goldSP.merge(geo, how='inner', left_on='id', right_on='request_id')
    
    # Salvando o DataFrame resultante em um arquivo CSV com nome correspondente ao grupo
    nome_arquivo = f'..\csv\geoGoldSPexp{i+1}.csv'  # Incrementando i+1 para nomear os arquivos de 1 a num_grupos
    result_df.to_csv(nome_arquivo, index=False)
    
    # Adicionando o grupo à lista (opcional, se desejar manter a lista de grupos separados)
    #lista.append(grupo)

In [8]:
teste = geo[geo['request_id'] > 2907599]
teste

,geoapi_id,request_id,lat,long,accuracy,endereço
0,MapBox,2912600,-23.870596,-46.676843,0.865661,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
1,Google,2912600,-23.870860,-46.676627,NaN,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
2,OpenRouteService,2912600,-23.570533,-46.663713,0.600000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
3,Here,2912600,-23.871140,-46.676530,1.000000,"SAO PAULO, SP, JANE VANINE CAPOZI, 45"
4,Google,2912601,-23.555771,-46.639557,NaN,"SAO PAULO, SP, DOS LIRIOS, 10"
...,...,...,...,...,...,...
298587,MapBox,2995658,-19.923012,-43.950070,1.000000,"RUA DOS GUAJAJARAS, 1717, BELO HORIZONTE, MG"
298588,MapBox,2995659,-19.923344,-43.949784,1.000000,"RUA ARAGUARI, 600, BELO HORIZONTE, MG"
298589,MapBox,2995660,-19.922947,-43.948939,1.000000,"RUA DOS GUAJAJARAS, 1588, BELO HORIZONTE, MG"
298590,MapBox,2995661,-19.916874,-43.930173,1.000000,"RUA DAVID CAMPISTA, 207, BELO HORIZONTE, MG"
298591,MapBox,2995662,-19.916787,-43.930035,1.000000,"RUA DAVID CAMPISTA, 187, BELO HORIZONTE, MG"

In [9]:
import pandas as pd
import psycopg2

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

query = 'select request_id from "Request"  where request_id >= 2852600'

cur.execute(query)
recset = cur.fetchall()
#len(recset)

geo = pd.DataFrame(recset, columns = ['request_id'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

   request_id
0     2852600
1     2852601
2     2852602
3     2852603
4     2852604

In [10]:
geo.to_csv('..\csv\teste.csv')

OSError: [Errno 22] Invalid argument: '..\\csv\teste.csv'

In [2]:
# Teste se Tomtom Funcionou

import pandas as pd
import psycopg2

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

query = """ SELECT MAX(request_id)
                FROM "Response"
                WHERE geoapi_id = 'TomTom'
        """

cur.execute(query)
recset = cur.fetchall()
#len(recset)

geo = pd.DataFrame(recset, columns = ['request_id'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

   request_id
0     2974990