In [1]:
import pandas as pd
import psycopg2

In [2]:
request_id = 2852600
query = f'select res.geoapi_id, res.request_id, res.latitude, res.longitude, res.accuracy, req.full_address from "Response" as res join "Request" as req on res.request_id = req.request_id  where res.request_id >= {request_id}'

In [3]:

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

In [4]:
cur.execute(query)
recset = cur.fetchall()
len(recset)

237753

In [5]:
geo = pd.DataFrame(recset, columns = ['geoapi_id', 'request_id', 'lat', 'long', 'accuracy', 'endereço'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

,geoapi_id,request_id,lat,long,accuracy,endereço
0,Google,2852600,-19.831190,-43.903133,NaN,"RUA TRES, 138, BELO HORIZONTE, MG"
1,OpenRouteService,2852600,-19.960829,-43.996589,1.000000,"RUA TRES, 138, BELO HORIZONTE, MG"
2,TomTom,2852600,-19.829050,-43.867790,11.958313,"RUA TRES, 138, BELO HORIZONTE, MG"
3,MapBox,2852600,-19.850858,-43.888999,1.000000,"RUA TRES, 138, BELO HORIZONTE, MG"
4,OpenRouteService,2852601,-19.926361,-44.006293,0.800000,"RODOVIA PRESIDENTE JUSCELINO KUBITSCHEK, 1156,..."

In [6]:
gold = pd.read_csv('amostraBH5mil.csv')
gold = gold[['SIGLA_TIPO_LOGRADOURO', 'NOME_LOGRADOURO', 'NUMERO_IMOVEL', 'NOME_BAIRRO_OFICIAL',
'LONGITUDE','LATITUDE']]

gold.head()

,SIGLA_TIPO_LOGRADOURO,NOME_LOGRADOURO,NUMERO_IMOVEL,NOME_BAIRRO_OFICIAL,LONGITUDE,LATITUDE
0,RUA,TRES,138,do Trevo,-19.830689,-44.016639
1,ROD,PRESIDENTE JUSCELINO KUBITSCHEK,1156,do Pilar,-20.002710,-43.965776
2,RUA,ABEL ARAUJO,759,Santa Lúcia,-19.961796,-43.954117
3,RUA,CARMO DO PARANAIBA,178,Itapoã,-19.834004,-43.963779
4,AVE,NOSSA SENHORA DA SAUDE,138,Pirajá,-19.866098,-43.911979

In [ ]:
import pandas as pd

# Suponha que df seja o seu DataFrame com o campo request_id
# Suponha que gold seja o DataFrame 'gold'
# Suponha que geo seja o DataFrame 'geo'

# Criando uma lista para armazenar os grupos
lista = []

# Definindo o número total de grupos de 5 mil endereços
num_grupos = 10
tamanho_grupo = 5000

# Loop para separar o DataFrame em grupos, ajustar 'request_id' do DataFrame 'gold' e mesclar com 'gold'
for i in range(num_grupos):
    # Calculando o intervalo para cada grupo
    start_id = 2852600 + (i * tamanho_grupo)
    end_id = start_id + tamanho_grupo - 1
    
    # Filtrando o DataFrame para obter o grupo atual
    grupo = geo[(geo['request_id'] >= start_id) & (geo['request_id'] <= end_id)]
    
    # Ajustando o 'request_id' do DataFrame 'gold' para o grupo atual
    gold['id'] = range(start_id, end_id + 1)
    
    # Realizando a mesclagem (merge) entre o grupo atual e o DataFrame 'gold' usando o 'geo' filtrado
    result_df = gold.merge(geo, how='inner', left_on='id', right_on='request_id')
    
    # Salvando o DataFrame resultante em um arquivo CSV com nome correspondente ao grupo
    nome_arquivo = f'geoGoldBHexp{i+1}.csv'  # Incrementando i+1 para nomear os arquivos de 1 a num_grupos
    result_df.to_csv(nome_arquivo, index=False)
    
    # Adicionando o grupo à lista (opcional, se desejar manter a lista de grupos separados)
    #lista.append(grupo)

In [8]:
teste = geo[geo['request_id'] > 2907599]
teste

Empty DataFrame
Columns: [geoapi_id, request_id, lat, long, accuracy, endereço]
Index: []

In [ ]:
import pandas as pd
import psycopg2

con = psycopg2.connect( host='34.23.173.147',
                            database='SGM',
                            user='terralab', 
                            password='terralab0705')
cur = con.cursor()

query = 'select request_id from "Request"  where request_id >= 2852600'

cur.execute(query)
recset = cur.fetchall()
#len(recset)

geo = pd.DataFrame(recset, columns = ['request_id'])
geo = geo.sort_values(by='request_id')
geo = geo.reset_index(drop=True)
geo.head()

In [ ]:
geo.to_csv('teste.csv')